<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    League Scheduler
  </h1>
</div>
<button (click)="onAddNames()">Add people</button>
<form [formGroup]="teamForm">
  <table>
    <ng-container formArrayName="people">
      <tr *ngFor="let ctrl of teamForm.get('people')['controls']; let i = index" [formGroupName]="i">
        <td><input type="text" class="form-control" formControlName="person"></td>
      </tr>
    </ng-container>
  </table>
</form>

<br />
<br />
<hr>
<br />
<table  class="schedule">
  <thead><tr>
    <td>Game #</td><td>Player1</td><td>Player2</td></tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of matchUp.games; let i = index;">
      <td>{{i + 1}}</td><td [ngStyle]="game.players.duplicate == true ? 'color:yellow' : ''">{{game.players.player1}}</td><td>{{game.players.player2}}</td>
    </tr>
  </tbody>
</table>

<pre>{{teamForm.value | json}}</pre>

<router-outlet></router-outlet>
