mat-card {
  mat-form-field {
    position: relative;
    width: 100%;
  }
}

mat-card-header {
  background-color: lightblue;
}

table {
  position: relative;
  width: 100%;
}

mat-toolbar {
  margin-bottom: 15px;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}