<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<table>
  <thead><th>People</th></thead>
  <tbody>
    <tr *ngFor="let peopleName of people; let i = index;">
      <td><input type="text" value="{{people[i]}}" (keyup)="addBlank(i)" (change)="updatePerson($event, i)" /></td>
    </tr>
  </tbody>
</table>
<button (click)="add()">Add Person</button>
<table>
  <thead><tr>
    <td>Player1</td><td>Player2</td></tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of matchUp.games; let i = index;">
      <td>{{game.players.player1}}</td><td>{{game.players.player2}}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
